main.main
  .main__about
    include ../block/_main__who-am-i
    include ../block/_main__personal-info
    include ../block/_main__my-expertise
  include ../block/_resume
  include ../block/_portfolio