- var header = 'Who am I?'
- var specialization = 'A Talented junior Web Developer'
- var whoInfo = 'I have been doing web development for over a year now. When I learned HTML and CSS and made my first page I thought, cool I can do websites. During the year I constantly improved my skills. At one point, I wanted to revive my pages and add dynamic. I started learning javascript so myself. But it was not an easy task. In this regard, I enrolled in Rolling Scopes to find people who, like me, are interested in developing Frontend.'
- var whoBtnText = 'Download my CV'
section.who
  article.who__content
    h3.header--with-line= header
    p.who__specialization= specialization
    p.who__description= whoInfo
  a(href='templates/documents/CV Uladzislau Sakalou.pdf').btn-default.who__btn= whoBtnText