- var header = 'My expertise'
-
  var expertise = [
    {
      icon: 'fas fa-desktop',
      title: 'Web development',
      descr: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, quos.'
    },{
      icon: 'fas fa-tablet-alt',
      title: 'Web design',
      descr: 'Lorem ipsum dolor sit amet consectetur adipisicing.'
    }
  ]
section.expertise
  .expertise__content
    h3.header--with-line= header
    ul.expertise__list
      each item in expertise
        li.expertise__item
          i(class=`${item.icon}`).expertise__icon
          h4.expertise__title= item.title
          p.expertise__description= item.descr
