-
  var nav = [
    {
      link: '/index.html',
      title: 'Home'
    },{
      link: '#about',
      title: 'About'
    },{
      link: '#resume',
      title: 'Resume'
    },{
      link: '#portfolio',
      title: 'Portfolio'
    },{
      link: '#blog',
      title: 'Blog'
    },{
      link: '#contact',
      title: 'Contact'
    }
  ]
nav.nav#nav
  ul.nav__list
    each item in nav
      li.nav__item
        a(href=`${item.link}`).nav__link=item.title