- var sectionHeader = 'Resume';
.resume
  h2.header--with-line.section__header= sectionHeader
  .resume__grid
    include ../block/_resume__expertise
    include ../block/_resume__education
    include ../block/_resume__skills
    include ../block/_resume__languages
    include ../block/_resume__interests