- var sectionHeader = 'Interests'
- var iconClass ='fas fa-football-ball'
-
  var interestsList = [
    {
      iconClass: 'fas fa-volleyball-ball',
      title: 'Volleyball'
    },{
      iconClass: 'fas fa-bicycle',
      title: 'Bicycle'
    },{
      iconClass: 'fas fa-camera',
      title: 'Photo'
    }
  ]
section.resume__interests.resume__section
    h3.header--with-line= sectionHeader
    i(class=`${iconClass}`).resume__icon
    ul.interests__list
      each item in interestsList
        li.interests__item
          i(class=`${item.iconClass}`).interests__icon
          p.interests__title= item.title