.expertise{
  &__icon{
    font-size: 2rem;
    margin-bottom: 0.7rem;
    color: darken($bg-grey, 60%);
  }
  &__item{
    padding-bottom: 0.5rem;
    &:not(:last-child){
      border-bottom: 1px solid darken($bg-grey, 60%);
      margin-bottom: 1rem;
    }
  }
}