.nav{
  padding: 0px 3.5rem;
  box-shadow: 0 5px 19px -8px rgba(0,0,0,.75);
  &__list{
    display: flex;
  }
  &__item{
    border-left: 2px solid $light-black;
    &:nth-child(3){
      border-right: 2px solid $light-black;
    }
    &:nth-child(4){
      margin-left: auto;
    }
    &:last-child{
      border-right: 2px solid $light-black;
    }
  }
  &__link{
    display: block;
    padding: 0.9rem 1.8rem;
    color: black;
    text-decoration: none;
    font-weight: 700;
  }
}
@media only screen and (max-width: 900px){
  .nav{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    padding-left: 0.8rem;
    width: 200px;
    left: -1000px;
    height: 1000%;
    z-index: 10;
    overflow: hidden;
    background-color: white;
    transition: all .3s;
    &.open{
      left: 0;
    }
  }
  .nav__list{
    flex-direction: column;
  }
  .nav__item{
    border-left: none;
  }
  .nav__item:nth-child(4){
    margin-left: 0;
  }
  .nav__item:nth-child(3){
    border-right: 0;
  }
  .nav__item:last-child{
    border-right: none;
  }
}