.resume__expertise{
  grid-area: expertise;
}
@media only screen and (max-width: 600px){
  .expertise__list{
    display: block;
  }
  .expertise__item:not(:last-child){
    margin-right: 0;
  }
  .expertise__item{
    width: 100%;
  }
}