
@font-face{
  font-family: 'Product Sans';
  src: url('../fonts/Product-Sans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Product Sans';
  src: url('../fonts/Product-Sans-Bold.ttf') format('turetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Product Sans';
  src: url('../fonts/Product-Sans-Italic.ttf') format('turetype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'Product Sans';
  src: url('../fonts/Product-Sans-Bold-Italic.ttf') format('turetype');
  font-weight: bold;
  font-style: italic;
}
