$main-blue: #03A9F4;
$dart-white: rgba(255, 255, 255, 0.7);
$light-black: rgba(0, 0, 0, 0.1);
$bg-grey: rgba(211,211,211, 0.3);
$bg-grey-dark: rgba(192,192,192, 0.4);
$header-light-black: rgba(0, 0, 0, 0.7);