extends ../_template

block variables
	- var title = ['Title','index page description','index page keywords']

block content
	//- <---- Example ---->
	//- include ../folder/file_name
	include ../block/_default
