extends ../_template

block variables
	- var title = ['Uladzislau Sakalou CV page','index page description','index page keywords']

block content
	//- <---- Example ---->
	//- include ../folder/file_name
	include ../block/_header
	include ../block/_nav
	include ../block/_main
